<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="wechat, room, chat, wechat room, chat room">
  <title>weChat3.0</title>
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <!-- Welcome to Wechat3.0 -->
  <noscript>您的浏览器暂不支持该聊天室功能; 请更换浏览器尝试、感谢您的支持</noscript>
  <div id="root">

    <!-- login chat room -->
    <div id="login-box" class="login-box" v-if="!isLogin">
      <h3 class="login-box__title">Login Chat Room</h3>
      <div class="line-item">
        <div class="login-box__sub-title">username</div>
        <!--  value="xvT0Aq2e" -->
        <input type="text" v-model="username" placeholder="请输入用户名" id="username" />
      </div>
      <div class="line-item">
        <div class="login-box__sub-title">choose head</div>
        <ul class="login-box__head-box">
          <li v-for="(imgName, index) in [].length = 53" :class="[headIndex === index + 1 ? 'activity' : '']" :key="imgName" @click="handleClickHead(imgName)"><img :src="checkImgName(index)" alt="" /></li>
        </ul>
      </div>
      <button class="login-box__btn" @click="handleLogin">登录</button>
    </div>

    <!-- Chat room -->
    <div class="chat-room" v-else>
      <div class="side-box">
        <div class="myself-box">
          <div class="myself-box__head">
            <img :src="headPiecePath" alt="">
          </div>
          <div class="myself-box__usernaem">{{ username }}</div>
        </div>
        <div class="side-online">
          <div></div>
        </div>
        <ul class="chat-room-list">
          <li v-if="usersList.length" class="chat-item" v-for="item in usersList" :key="item.username">
            <div class="room__head">
              <img :src="item.headPiecePath" alt="" />
            </div>
            <div class="room__title">{{ item.username }}</div>
          </li>
          <!-- 房间组合多人聊天 -->
          <!-- <li class="chat-item multipeople">
            <div class="room__head">
              <img src="./images/head-piece-011.jpg" alt="">
              <img src="./images/head-piece-012.jpg" alt="">
              <img src="./images/head-piece-013.jpg" alt="">
              <img src="./images/head-piece-014.jpg" alt="">
              <img src="./images/head-piece-011.jpg" alt="">
              <img src="./images/head-piece-012.jpg" alt="">
              <img src="./images/head-piece-013.jpg" alt="">
              <img src="./images/head-piece-014.jpg" alt="">
            </div>
            <div class="room__title">multipeople room</div>
          </li> -->
        </ul>
      </div>

      <!-- chat list -->
      <div class="chat-panel">
        <div class="chat-panel__title">
          <h4>Chat Room (<span id="userCount">{{ usersCount }}</span>)</h4>
        </div>
        <div class="chat-panel__context">
          <div v-for="(item, index) in msgList" :key="index">
            <div class="system-message" v-if="item.type === '0001'" class="system">
              <p>{{ item.message }}</p>
            </div>
            <div v-if="item.type === '0003'" class="message someone-message">
              <div class="head-box">
                <img :src="item.headPiecePath" alt="">
              </div>
              <div class="msg-box--wp">
                <p>{{ item.username }}</p>
                <div class="msg-box">
                  <span>{{ item.message }}</span>
                </div>
              </div>
            </div>
            <div class="message myself-message" v-if="item.type === '0002'" class="message-box">
              <div class="msg-box">
                <span>{{ item.message }}</span>
              </div>
              <div class="head-box">
                <img :src="item.headPiecePath" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="chat-panel__input">
          <div class="chat-panel__input__property-group">
            <div class="property-item face">
              <!-- face -->
            </div>
            <div class="property-item screen-cut"></div>
            <div class="property-item file">
              <label for="files"></label>
              <input type="file" name="" id="files" hidden>
            </div>
          </div>
          <div class="chat-panel__input__keyword-box">
            <!-- div 属性 contenteditable 可以书写内容-->
            <!-- 如果用表情、图片等内容的话就不能采用textarea标签; 需要用dev[contenteditable]内容 -->
            <textarea v-model='inputText' id="textarea"></textarea>
          </div>
          <div class="chat-panel__input__send-box">
            <div class="tips">Enter Send Msg</div>
            <button  @click="handleSendMsg" class="btn">发送</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- created by xutongze(menkan) on 2020/05/10  -->
  <!-- 
    一、于2020/05/13晚结束基础部分
   -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/index.js"></script>
</body>
</html>